[Desktop Entry]
Encoding=UTF-8
Name=Link to Assignment-2 - Online LaTeX Editor ShareLaTeX
Type=Link
URL=https://www.sharelatex.com/2516584477jxhqztnttxtq
Icon=text-html
