#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Assignment-6 - Online LaTeX Editor Sh...
Exec=chromium --profile-directory=Default --app-id=ajabgbfhmfbfbdemjblcfndkoggehdcm
Icon=chrome-ajabgbfhmfbfbdemjblcfndkoggehdcm-Default
StartupWMClass=crx_ajabgbfhmfbfbdemjblcfndkoggehdcm
